.holder {
  display: flex;
  justify-content: space-between; /* Spacing between items */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.item {
  width: 100px;
  height: 100px;
  font-size: 40px;
}

/* Specific styling and ordering based on the images */
.item-1 {
  background-color: red;
  order: 2; /* Positioned second (middle in a group of 3) */
}

.item-2 {
  background-color: blue;
  order: 3; /* Positioned last */
}

.item-3 {
  background-color: green;
  order: 1; /* Positioned first */
}